#control {
    position: absolute;
    margin: 15px 0 0 15px;
    padding: 15px;
    border: 3px solid #ddd;
    right: 0;
    top: 0;
    background-color: white;
}

#title{
    border-bottom: 1px solid #ccc;
}


/*#categories a {
    *//*it seems that inline-element's vertical margin is ignored*//*
    margin: 5px;
    line-height: 24px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #777;

    box-shadow: 0px 1px 1px #ccc;
}*/


#message {
    margin: 0 10px;
    padding: 0;
    font-size: 1.5em;
    color: #F28095;
    font-weight: bold;
}


#list {
    margin: auto;
    max-width: 1200px;
    padding: 5px 10px 5px 10px;
    overflow: hidden;
}

.item {
    overflow: hidden;
    float: left;
    width: 227px;
    height: 328px;
    margin: 10px 0 10px 0;
    padding: 10px 15px;
    border-bottom: 1px solid #aaa;

}
.item a img {
    width: 200px;
}
.item #imageContainer a {
    display: block;
    width: 200px;
    height: 200px;
    /*我想把其内图片垂直居中，怎么搞？*/
    overflow: hidden;
    padding: 10px;
}
.item #imageContainer{
    overflow: hidden;
}
.item h3 {
    text-align: center;
    margin: 10px 0;
    font-size: 1em;
}
.item h3 a {
    font-size: 1.5em;
}
.item .info li {
    margin: 5px 0;
}
.item .info .categ {
    text-align: right;
    margin-right: 10px;
}
.item .info .mfr {
    text-align: right;
    margin-right: 10px;
}




#control li {
    line-height: 30px;
    border-bottom: 1px solid #ddd;
}








/*index page*/
a.block {
    margin: 5px 10px;

}













/*form*/
fieldset {
    margin: 10px auto;
}

form input{
    font-size: 100%;
}

form.main label {
    width: 150px;
    margin: 0 10px;
    text-align: right;
    float: left;
    clear: left;
}

form.main input[type="submit"] {
    margin: 0 0 0 20%;
}

form.main>div {
    overflow: hidden;
    margin: 10px 0;
}

form .hidden{
    display: none;
}

/*form new item*/

form.main label input {
    width: 4em;
}
